name: Publish stable release

# only one can tun at a time
concurrency: cd-publish-stable

# See for rationale https://github.com/ChainSafe/lodestar/blob/unstable/RELEASE.md
on:
  workflow_call:

permissions:
  contents: write # Required for OIDC
  id-token: write # Required to create a Github release
  pull-requests: write # Required to add tags to pull requests

jobs:
  tag:
    name: Check tag
    # To support npm provenance we must use github-hosted runners
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Get tag
        id: get_tag
        run: echo "tag=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_OUTPUT

      - name: Assert tag == package.json version
        run: .github/workflows/scripts/assert-same-package-version.sh
        env:
          TAG: ${{ steps.get_tag.outputs.tag }}

      - name: Get previous tag
        id: get_prev_tag
        run: node scripts/get_prev_tag.js
        env:
          CURRENT_TAG: ${{ steps.get_tag.outputs.tag }}
          IGNORE_PATTERN: rc

      - name: Determine release type
        id: release_type
        run: |
          STABLE_COMMIT=$(git log --pretty="%h" -n 1 refs/remotes/origin/stable)
          TAG_COMMIT=$(git log --pretty="%h" -n 1 $GITHUB_REF)
          echo "stable_commit=$STABLE_COMMIT" >> $GITHUB_OUTPUT
          echo "tag_commit=$TAG_COMMIT" >> $GITHUB_OUTPUT

    outputs:
      is_stable: ${{ steps.release_type.outputs.stable_commit == steps.release_type.outputs.tag_commit }}
      tag: ${{ steps.get_tag.outputs.tag }}
      prev_tag: ${{ steps.get_prev_tag.outputs.prev_tag }}

  binaries:
    name: Build lodestar binaries
    uses: ./.github/workflows/binaries.yml
    needs: tag
    with:
      version: ${{ needs.tag.outputs.tag }}

  npm:
    name: Publish to NPM & Github
    runs-on: ubuntu-latest
    needs: [tag, binaries]
    if: needs.tag.outputs.is_stable == 'true'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Needs full depth for changelog generation

      - uses: "./.github/actions/setup-and-build"
        with:
          node: 24

      - name: Generate changelog
        run: node scripts/generate_changelog.mjs ${{ needs.tag.outputs.prev_tag }} ${{ needs.tag.outputs.tag }} CHANGELOG.md

      - name: Get binaries
        uses: actions/download-artifact@v4
        with:
          path: dist/
          merge-multiple: true

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: dist/*
          fail_on_unmatched_files: true
          tag_name: ${{ needs.tag.outputs.tag }}
          body_path: "CHANGELOG.md"
          name: Release ${{ needs.tag.outputs.tag }}
          prerelease: false

      - name: Publish to npm registry (release)
        run: pnpm run release:publish

      # In case of failure
      - name: Rollback on failure
        if: failure()
        uses: author/action-rollback@1.0.4
        with:
          release_id: ${{ steps.create_release.outputs.id }}
          tag: ${{ needs.tag.outputs.tag }}
          delete_orphan_tag: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  comment:
    name: Comment on included PRs
    runs-on: ubuntu-latest
    needs: [tag, npm]
    if: needs.tag.outputs.is_stable == 'true'
    steps:
      - uses: nflaig/release-comment-on-pr@v1
        with:
          token: ${{ secrets.GH_PAGES_TOKEN }}

  await-release:
    name: Await npm release
    runs-on: ubuntu-latest
    needs: [tag, npm]
    if: needs.tag.outputs.is_stable == 'true'
    steps:
      - uses: actions/checkout@v4
      - run: scripts/await-release.sh ${{ needs.tag.outputs.tag }} latest 900

  docker:
    name: Publish to Docker Hub
    needs: [tag, await-release]
    if: needs.tag.outputs.is_stable == 'true'
    uses: ./.github/workflows/docker.yml
    with:
      tag: ${{ needs.tag.outputs.tag }}
      extra-tags: latest
    secrets: inherit
