name: Publish

# only one can run at a time
concurrency: cd-publish

on:
  push:
    tags:
      - v*
    branches:
      # - peerDAS # Nextfork branch
      - unstable

permissions:
  contents: write # Required for OIDC
  id-token: write # Required to create a Github release
  pull-requests: write # Required to add tags to pull requests

jobs:
  call-publish-workflow:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Call publish-stable.yml
        if: |
          startsWith(github.ref, 'refs/tags/v') && (
            !contains(github.ref_name, '-rc') && 
            !contains(github.ref_name, '-beta') &&
            !contains(github.ref_name, '-alpha')
          )
        uses: ./.github/workflows/publish-stable.yml

      - name: Call publish-rc.yml
        if: |
          startsWith(github.ref, 'refs/tags/v') && (
            contains(github.ref_name, '-rc') ||
            contains(github.ref_name, '-beta') ||
            contains(github.ref_name, '-alpha')
          )
        uses: ./.github/workflows/publish-rc.yml

#      - name: Call publish-nextfork.yml
#        if: github.ref == 'refs/heads/peerDAS'
#        uses: ./.github/workflows/publish-next-fork.yml

      - name: Call publish-dev.yml
        if: github.ref == 'refs/heads/unstable'
        uses: ./.github/workflows/publish-dev.yml
